body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #7581a1;
    /* Анна Блок пока что нигде не писала у текста line-height: 26px; */
}

a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    color: #192b59;
}

.nav {
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* Анна Блок пока что нигде не писала у текста line-height: 90px; */
}

.btn-primary {      /* Класс, используемый для всех синих кнопок сайта */
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    background-color:#1085e4;
    letter-spacing: 2.5px;
    padding: 20px 40px;
    border-radius:30px;
    border: 1px solid #1085e4;
    /* Анна Блок пока что нигде не писала у текста line-height. У синих кнопок он разный.  Например, утех, что в навигации,
    мы уже указали в .nav {line-height: 90px;}, но вот у кнопки subscribe, кот находится в др части сайта {line-height: 28px;}
    Возможно придется вводить доп. уточняющие классы */
}

.btn-primary:hover {
    background-color: #fff;
    color:#1085e4;
}

.btn-secondary { /* Класс, используемый для всех серых кнопок сайта, кроме Choose plan */
    font-size: 12px;
    color: #7e8bae;
    font-weight: 700;
    text-transform: uppercase;
    background-color:#cbdbe8;
    letter-spacing: 2.5px;
    padding: 20px 40px;
    border-radius:30px;
    border: 1px solid #cbdbe8;
}

.btn-secondary:hover {
    background-color: #fff;
}

.btn-free { /* Класс, используемый конкретно для кнопки Free Trail в навигации, т.к. у нее  свой дизайн */
    font-weight: 400;
    letter-spacing: 1.7px;
    padding: 20px 56px;
}

.btn-group a+a {
    margin-left:15px;
}

.btn-info {
    color:#8085b1;
    background-color: transparent;
    border: 1px solid #dce1e5;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.5px;
    padding: 21px 61px;
    border-radius: 30px;
    text-transform: uppercase;
}

.grid h2 span {
    font-size: 14px;
    font-weight: 800;
    color: #1085e4;
    display: block;
    line-height: 90px;
}

.grid h2 {
    font-size: 40px;
    font-weight: 700;
    color: #192b59;
    line-height: 50px;
}

.grid-item h3 {
    font-size: 20px;
    font-weight: 600;
    color:#192b59;
    line-height: 50px;
}

.grid-item a {
    font-size: 14px;
    font-weight: 600;
    color: #1085e4;
}

.grid p span {
    font-weight: 700;
    color:#192b59;
}

.grid p {
    font-size: 14px;
    font-weight: 400;
    color: #1085e4;
}

.page-subscribe h2 span {
    font-size: 14px;
    font-weight: 800;
    color: #00bffe;
    display: block;
}

.page-subscribe h2 {
    font-size: 50px;
    font-weight: 600;
    color: #fff;
    background-color: #0c2694;
}

.page-subscribe p {
    font-size: 18px;
    color: #dfe8ff;
    line-height: 28px;
}

.page-subscribe ::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #b1c3ee;
    line-height: 28px;
}

.page-software h2 {
    font-size: 50px;
    font-weight: 600;
    color:#192b59;
    line-height: 60px;
}

.page-software dt {
    color:#5a6789;
    font-weight: 700;
}

.page-software dd {
    font-size: 14px;
    line-height: 24px;
}

.page-stat h2 span {
    font-weight: 800;
    color: #1085e4;
    line-height: 60px;
    display: block;
}

.page-stat h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 60px;
}

.page-stat li span {           /*тут уже не получится фишка с display: block !!!! */
    font-size: 60px;
    font-weight: 700;
    color: #bacbdc;
}

.page-stat li {                /*тут уже не получится фишка с display: block !!!! */
    font-size: 12px;
    font-weight: 700;
    color: #1085e4;
    line-height: 30px;
}

.page-app h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 60px;
}

.page-app p span {
    font-weight: 700;
    color: #c4d2dd;
    line-height: 60px;
}

.page-analytics h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 60px;
}


.page-control h2 {
    font-size: 50px;
    font-weight: 600;
    color: #192b59;
    line-height: 60px;
}


.page-screen h2 span {
    font-size: 18px;
    font-weight: 800;
    color:#1085e4;
    line-height: 90px;
    text-transform: uppercase;
    display: block;
}

.page-screen h2 {
    font-size: 40px;
    font-weight: 600;
    color:#192b59;
    line-height: 50px;
}
